{{template "layout"}}
{{define "main"}}
<div class="container">
    <div class="form">
        <form action="/index.html" method="post"></form>
        <ul>
        <li>
            <label for="name">Name : </label>
            <input type="text" name="name" id="name" placeholder="Fill your name" required>
        </li>

        <li>
            <label for="message">Message : </label>
            <input type="text" name="message" id="message" placeholder="Fill your message" required>
        </li>
        <li>
            <button type="button">Submit</button>
        </li>
        </ul>
        </form >
    </div>
</div>
{{end}}